In [22]:
import pandas as pd
import numpy as np

In [5]:
# Q1. Pandas Version
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
# Q2. Records count
## How many records are in the dataset?
df.shape

(9704, 11)

In [13]:
# Q3. Fuel types
## How many fuel types are presented in the dataset?
df["fuel_type"].nunique()

2

In [15]:
# Q4. Missing values
## How many columns in the dataset have missing values?
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [18]:
# Q5. Max fuel efficiency
## What's the maximum fuel efficiency of cars from Asia?
asian_cars = df[df["origin"] == "Asia"]

In [23]:
asian_cars["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [24]:
# Q6. Median value of horsepower
## Find the median value of horsepower column in the dataset.
df["horsepower"].median()

np.float64(149.0)

In [25]:
## Next, calculate the most frequent value of the same horsepower column.
df["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [26]:
## Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df["horsepower"] = df["horsepower"].fillna(152.0)

In [27]:
## Now, calculate the median value of horsepower once again.
df["horsepower"].median()

np.float64(152.0)

In [28]:
## Has it changed?
### Yes, it increased

In [29]:
# Q7. Sum of weights
## Select all the cars from Asia
asian_cars.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [30]:
## Select only columns vehicle_weight and model_year
asian_cars2 = asian_cars[["vehicle_weight", "model_year"]]

In [32]:
##Select the first 7 values
asian_cars3 = asian_cars2.head(7)

In [33]:
##Get the underlying NumPy array. Let's call it X.
X = asian_cars3.to_numpy()

In [34]:
##Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X

In [35]:
##Invert XTX.
XTX_inv = np.linalg.inv(XTX)

In [36]:
##Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [37]:
##Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y

In [38]:
##What's the sum of all the elements of the result?
result = w.sum()
print(result)

0.5187709081074016